 <div class="article-wrapper">

  <%= form_with model: @article %>

  <div calss="article-title">
  </div>
  <div calss="article-tag">
  </div>
  <div calss="article-image">
  </div>
  <div calss="article-text">
  </div>

</div>